# Compiled class file
*.class
*.com
*.dll
*.exe
*.o
*.so
*.mvn
.springBeans

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.classpath
*.project
*.settings
target/
bin/
build/

.idea
*.iml/target/

images/
.vscode

jdk/corretto/amazon-corretto-17.0.8.8.1-linux-x64/
jdk/dragonwell/dragonwell-17.0.8.0.8+7-GA/
jdk/graalvm/graalvm-ce-java17-22.0.0.2/
jdk/mandrel/mandrel-java17-23.0.1.2-Final/
jdk/microsoft/jdk-17.0.8.1+1/
jdk/openjdk/jdk-17.0.2/
jdk/oracle/jdk-17.0.8/
jdk/semeru/jdk-17.0.8.1+1/
jdk/temurin/jdk-17.0.9+9/
jdk/zulu/zulu17.46.19-ca-jdk17.0.9-linux_x64/
